/* CSS Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Base styles */

body {
    font-family: "Open Sans", sans-serif;
    background-color: white;
    color: #222;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Responsive styles */

@media screen and (min-width: 760px) {

}
